#footer--logo {
	height: 1rem;
}
.footer--gh-adress {
	cursor: pointer;
	text-decoration: none;
}
#footer {
	background-color: hsl(208, 32%, 85%);
	margin: 0;
	padding: 10px;
	font-size: 0.9rem;
}
footer {
	margin: 0;
	width: 100%;
	text-align: center;
}
