@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
body {
	--background: #e0e8ef;
	--font: #3d434d;
	background-color: var(--background);
	color: var(--font);
	margin: 0;
	font-family: "Dosis", sans-serif;
	border: 10px solid var(--font);
	height: 100vh;
	min-width: 210px;
}
* {
	margin: 0;
}
